@use '../utilities/vars' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin font-text(
  $google-font: 'Montserrat',
  $size: '16px',
  $weight: '700',
  $line-height: '100%',
  $color
) {
  font-family: $google-font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}
