@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin font-text($google-font:"Montserrat", $size, $weight, $line-height, $color) {
    font-family: $google-font;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
  }