@use '../utilities/vars' as *;
@use '../utilities/mixin' as *;

%reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
%btn-reset {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: 'Montserrat';
}
%modal-button {
  border-radius: 5px;
  width: 145px;
  height: 40px;
  background: $modalButtonsColor;
}
