@use '../utilities/vars' as *;
@use '../utilities/mixin' as *;

.header-section{
    position: relative;
    height: 446px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/header.png");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.hero{
    display: block;
    align-self: center;
    align-items: center;
    width: 600px;
    text-align: center;
    margin-bottom: 10rem;
}
.hero-text{
    @include font-text($size: 50px, $weight: 900, $color: $mainTitleColor);
    text-transform: uppercase;

}
.logo-container{
    position: absolute;
    left: 0;
    top: 0;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 0 0 130% 0;
  padding: 3rem 6rem 8rem 3rem;
}

.hero-form{
    @include flex-center;
    gap: 30px;
    margin-top: 50px
}
#searching-input{
    border: none;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.20); 
    border-radius: 30px;
    width: 270px;
    padding: 10px 20px 10px 30px;
    color:$white;
}
#searching-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
.country-select{
    border: none;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.20); 
    border-radius: 30px;
    width: 270px;
    padding: 10px 10px 10px 15px;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    
}
.country-select:hover{
    background-color: none;
}

.dropdown-toggle::after {
    margin-left: 100px; 
  }
