@use '../utilities/vars' as *;
@use '../utilities/mixin' as *;



.header-section {
  position: relative;
  height: 446px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero {
  display: block;
  align-self: center;
  align-items: center;
  width: 215px;
  text-align: center;
  margin-bottom: 10rem;
  @media (min-width: 767px) {
    width: 353px;
  }
  @media (min-width: 1279px) {
    width: 600px;
  }
}
.hero-text {
  @include font-text($size: 18px, $weight: 900, $color: $mainTitleColor);
  text-transform: uppercase;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  @media (min-width: 767px) {
    @include font-text($size: 30px, $weight: 900, $color: $mainTitleColor);

  }
  @media (min-width: 1279px) {
    @include font-text($size: 50px, $weight: 900, $color: $mainTitleColor);

  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}


.logo-img{
  height: 33px;
  @media (min-width: 767px) {
    height: 50px;
  }
  @media (min-width: 1279px) {
    height: 70px;
  }
}
.logo-container {
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 130% 0;
  padding: 1.2rem 1.7rem 2rem 1.2rem;
  @media (min-width: 767px) {
    padding: 1.5rem 2.2rem 3rem 1.5rem;
  }
  @media (min-width: 1279px) {
    padding: 2rem 5rem 5rem 2rem;
  }
}

.hero-form {
  @include flex-center;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  @media (min-width: 767px) {
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
  }
  @media (min-width: 1279px) {
    gap: 30px;
    margin-top: 50px;
  }
}
#searching-input {
  border: none;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 270px;
  padding: 10px 10px 10px 30px;
  color: $white;
}
#searching-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.country-select {
  border: none;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 270px;
  padding: 10px 10px 10px 30px;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}
.country-select:hover {
  background-color: none;
}

.dropdown-toggle::after {
    position: absolute;
    left: 85%;
    top: 50%;  }
  .dropdown-menu{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
    z-index: 1000;
  }