@use '../utilities/vars' as *;
@use '../utilities/mixin' as *;

body {
  background-color: $backgroundColor;
}

.main-section {
  background: url(/src/img/bodyGlitchBg.png);
  margin-top: -8%;
  position: relative;

  @media (min-width: 767px) {
    margin-top: -3%;
  }

  @media (min-width: 1279px) {
    margin-top: 2%;
  }
}

.loader {
  display: none;
  &.active {
    display: block;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

.events-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 285px;
  margin: 0 auto;

  @media (min-width: 767px) {
    max-width: 600px;
    gap: 30px;
  }

  @media (min-width: 1279px) {
    max-width: 930px;
    gap: 70px;
  }
}

.event-item {
  @include flex-center;
  flex-direction: column;
  width: 135px;

  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @media (min-width: 767px) {
    width: calc((100% - 2 * 10px) / 3);
    max-width: 180px;

    > img {
      width: 180px;
      height: 227px;
    }
  }

  @media (min-width: 1279px) {
    width: calc((100% - 3 * 10px) / 4);
  }
}
.event-img {
  position: relative;

  > img {
    width: 128px;
    height: 161px;
    border-radius: 25% 0px 25% 0;
    object-fit: cover;
  }

  @media (min-width: 767px) {
    > img {
      width: 180px;
      height: 227px;
    }
  }
}

.event-img::before {
  content: '';
  position: absolute;
  top: -8%;
  left: 20%;
  width: 90%;
  height: 75%;
  border: 1px solid $eventShadow;
  border-radius: 25% 0px 25% 0;
}

.event-name {
  @include font-text($size: 14px, $weight: 700, $color: $mainTitleColor);
  text-transform: lowercase;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 1px;
}

.event-name::first-letter {
  text-transform: uppercase;
}

.event-date {
  @include font-text($size: 14px, $weight: 400, $color: $white);
  margin: 0;
}

.event-place {
  @include font-text($size: 12px, $weight: 600, $color: $white);
  position: relative;
  padding-left: 14px;

  &::before {
    font-family: 'icomoon';
    content: '\e947';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
}

.pagination-box {
  @include flex-center;
  margin: 10% 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
