@use '../utilities/vars' as *;
@use '../utilities/mixin' as *;
@use '../utilities/placeholder' as *;

.modal-vignette {
  display: none;
  position: fixed;
  inset: 0;
}

.modal-vignette.active {
  display: block;
  backdrop-filter: blur(3px);
  background: $modalVignette;
}

.modal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 60px;
  align-items: center;
  flex-wrap: nowrap;
  padding: 75px 17px 104px 12px;
  row-gap: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $modalBackground;
  border-radius: 150px 0;
  width: 272px;
  height: 915px;
  @media (min-width: 767px) {
    border-radius: 300px 0;
    width: 595px;
    height: 831px;
  }
  @media (min-width: 1279px) {
    border-radius: 300px 0;
    width: 930px;
    height: 1023px;
  }
}

.close-modal-butt {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  background: none;
  width: 17px;
  height: 17px;

  svg {
    width: 17px;
    height: 17px;
  }
}

.modal-main-img {
  display: none;
  @media (min-width: 767px) {
    width: 233px;
    height: 416px;
    display: block;
  }
  @media (min-width: 1279px) {
    width: 233px;
    height: 641px;
    display: block;
  }
}

.modal-sub-img {
  border-radius: 50px;
  width: 102px;
  height: 102px;
}

.modal-info-list {
  width: 243px;
  height: 551px;
  display: flex;
  row-gap: 10px;
  margin: 0;
  flex-direction: column;
}

.buy-tick-butt {
  @include font-text($color: $white, $size: 16px, $weight: 500);
  width: 145px;
  height: 40px;
  text-transform: uppercase;
  margin-block: 5px 15px;
  border: none;
  @extend %modal-button;
}

.more-author-butt {
  @include font-text($color: $modalButtonsColor, $size: 16px, $weight: 500);
  border: 1px solid $modalButtonsColor;
  background: none;
  border-radius: 5px;
  width: 230px;
  height: 40px;
  margin-top: 7px;
  text-transform: uppercase;
  cursor: pointer;
  @extend %modal-button;
}

.modal-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.modal-text {
  @include font-text($color: $backgroundColor, $weight: 400);
  text-align: center;
  margin: 0;
}

.br-space {
  display: block;
  height: 3px;
}

.modal-title {
  @include font-text($color: $mainTitleColor, $size: 20px, $weight: 600);
  text-transform: uppercase;
}
