<header class="header-section">
  <div class="logo-container">
    <img class="logo-img" src="../img/logo.svg" alt="logo" />
  </div>
  <div class="hero">
    <h1 class="hero-text">Find best Events around the world</h1>
    <form class="hero-form">
      <input id="searching-input" type="text" placeholder="Start searching" />
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle country-select"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Choose country
        </button>
        <ul class="dropdown-menu">
          <!-- <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li> -->
        </ul>
      </div>
    </form>
  </div>
</header>
