<div class="modal-vignette" id="modal-vignette">
  <div id="modal-box" class="modal-box">
    <button class="close-modal-butt" id="close-modal-butt">
      <svg class="close-modal-icon">
        <use href="../img/cross.svg"></use>
      </svg>
    </button>

    <img
      class="event-main-img"
      id="modal-event-img"
      src="${image}"
      alt="${name}"
    />

    <ul class="modal-info-list" id="modal-info-list">
      <li class="modal-info-item" id="modal-info">
        <h2>Info</h2>
        <p class="modal-info-text">${info}</p>
      </li>
      <li class="modal-info-item" id="modal-when">
        <h2>When</h2>
        <p class="modal-when-text">${time}</p>
      </li>
      <li class="modal-info-item" id="modal-where">
        <h2>Where</h2>
        <p class="modal-where-text">${place}<br />${city}</p>
      </li>
      <li class="modal-info-item" id="modal-who">
        <h2>Who</h2>
        <p class="modal-who-text">Performer info here</p>
      </li>
      <li class="modal-info-item" id="modal-prices">
        <h2>Prices</h2>
        <p class="modal-prices-standard">Standard 1000–1500 UAH</p>
        <button class="butt-buy-standard">Buy tickets</button>
        <p class="modal-prices-vip">VIP 3000–5500 UAH</p>
        <button class="butt-buy-vip">Buy tickets</button>
      </li>
    </ul>

    <button class="more-author-butt" id="more-author-butt">
      More from this author
    </button>
  </div>
</div>
