<div class="modal-vignette">
  <div id="modal-box">
    <button></button>
    <img src="" alt="" />
    <img src="" alt="" />
    <ul>
      <li>
        <h2>info</h2>
        <p></p>
      </li>
      <li>
        <h2>when</h2>
        <p></p>
      </li>
      <li>
        <h2>where</h2>
        <p></p>
      </li>
      <li>
        <h2>who</h2>
        <p></p>
      </li>
      <li>
        <h2>prices</h2>
        <p>Standart 300-500 UAH</p>
        <button>buy tickets</button>
        <p>VIP 1000-1500 UAH</p>
        <button>buy tickets</button>
      </li>
    </ul>
  </div>
</div>
